#myntraheader {
    height: 100px;
    width: 100%;
    background-color: #e70000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

#logo{
    height: 80px;
    width: 30%;
    border: 10px solid red;
}


#search{
    height: 80px;
    width: 45%;
    border: 10px solid green;
}

#icons{
    height: 80px;
    width: 60%;
    border: 10px solid blue;
}