# Ignore compiled Java output directories and class files
**/bin/
*.class

# IDE files
.vscode/
*.code-workspace
.idea/
*.iml

# Operating system files
Thumbs.db
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.temp
*.swp
*~

# Database files and installation directories
*.db
*.sqlite
*.sqlite3
sql/database/


# ignroe the pdf files 
*.pdf
