* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(10, 4, 4);
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #f4f8fc;
    min-height: 100vh;
    background:linear-gradient(135deg, #f5b68f 0%, #48cbd2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
     align-items: center;
    
}

header {
    height: 80px;
    background: linear-gradient(135deg, #48cbd2 0%, #f5b68f 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0px;
    border-radius: 30px;
}


#left{
    display: flex;
    gap: 40px;
}


.logo {
    font-size: 1.5rem;
}

#uitemplate{
    font-size: small;
    color: rgb(147, 143, 143);
}


#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: 0.95rem;
    font-weight: bold;
    transition: color 0.2s ease;
}

#buytemplates {
    background-color: transparent;
    border: 3px solid rgb(104, 84, 103);
    color: rgb(10, 7, 8);
    height: 42px;
    padding: 0 20px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}



main{
    display: flex;
    width: 50%;
    flex-direction: column;
    
}

.main{
    width: 90vw;
}
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    margin: 0 10vw;
    gap: 30px;
}

.counts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



#trust{
    font-weight: bold;
}

#info div p{
    font-weight: bolder ;
    font-size: 2.2rem;
}

.number{
    color: rgb(255, 37, 98);
    font-weight:600;
    font-size: 1.3rem;  
}

.type{
    font-weight: 600;
    text-transform: uppercase;
}






#price-btn {
    padding: 15px 30px;
    border: 1px solid #d3cfcf;
    border-radius: 40px;
    background: #fff;
    color: #777;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}